@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #c59d5f;
	--secondary-color: #102a42;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f1f5f8;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100vw;
	height: 100%;
}

.title {
	margin-top: 100px;
	font-size: 45px;
	color: var(--secondary-color);
}

.bar {
	width: 80px;
	height: 4px;
	background-color: var(--primary-color);
	margin: 10px 0 40px 0;
}

.btn-container {
	display: flex;
	width: 60%;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

.btn {
	font-size: 15px;
	color: var(--primary-color);
	border-top: 2px solid var(--primary-color);
	border-left: 2px solid var(--primary-color);
	border-bottom: 2px solid #715a36;
	border-right: 2px solid #715a36;
	padding: 5px 15px;
	border-radius: 5px;
	transition: all 0.5s ease;
}

.btn:hover {
	color: #f1f5f8;
	background-color: var(--primary-color);
}

.items-container {
	display: flex;
	width: 90%;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 5%;
}

.item {
	display: flex;
	width: 600px;
	align-items: flex-start;
	justify-content: space-evenly;
	text-align: center;
	margin: 10px;
}

img {
	object-fit: cover;
	width: 225px;
	height: 175px;
	border: 4px solid var(--primary-color);
	border-radius: 5%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	margin: 10px;
	padding: 10px;
	border-bottom: 1px dotted var(--secondary-color);
}

.name {
	color: var(--secondary-color);
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: capitalize;
	font-size: 16px;
}

.price {
	color: var(--primary-color);
}

.detail {
	color: var(--secondary-color);
	font-size: 14px;
	font-weight: 100;
	padding: 20px 5px;
}
